<h1>Real Estate Management System</h1>

<p><%= link_to 'Create a Building', new_building_path %></p>
<p><%= link_to 'Create a New Owner', new_owner_path %></p>

<br>
<p><%= link_to 'View All Owners', owners_path %></p>
<p><%= link_to 'View All Buildings', buildings_path %></p>
